.header-container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 3.5rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    
}

.header-container ul{
    display: flex;
    gap: 1.9rem;
}

.burger-menu {
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.header-name {
    font-family: 'Syne', sans-serif;
}

.link-list {
    list-style-type: none;
    text-decoration: none;
}

.nav-link {
    color: #343A40;
    text-decoration: none;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.main-pic {
    height: 15rem;
    width: 15rem;
}

.about-me{
    width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(black);
  
}

body {
    font-family: 'Roboto', sans-serif;
}

.more-about {
    padding: 1rem 6rem;
}

.more-about h2 {
    text-align: center;
    
}

.more-about p {
    padding: 0.4rem;
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}
  
.skill-header {
    margin-bottom: 1rem;
}
  
.skills-wrapper img {
    padding: 1.25rem;
}
  
.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px darkgray;
    padding: 20px;
    margin: 10px;
}

.projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}
  
.project-pic {
    width: 65%;
    height: 60%;
}
  
.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}
  
.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}
  
.project-title {
    margin-bottom: 0.5rem;
}
  
.project-details {
    margin-bottom: 0.5rem;
}
  
.project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px darkgray;
    padding: 20px;
    margin: 10px;
}

.contact {
    margin-top: 2rem;
}
  
.contact h2 {
    text-align: center;
    margin-bottom: 1rem;
}
  
.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px darkgray;
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: bold;
    color: #343A40;
}
  
.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}
  
.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset #343A40;
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: #343A40;
    font-family: 'Roboto', sans-serif;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid #343A40;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: lightgray;
    border: 2px solid #1b1f22;
    cursor: pointer;
}

.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
}
  
.socicon {
    width: 2rem;
    height: 2rem;
}

footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}

.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}
  
.up-arrow {
    width: 3rem;
    height: 3rem;
}